@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/static/Montserrat-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Hind_Madurai';
    src: url('fonts/Hind_Madurai/HindMadurai-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
nav{
    list-style: none;
    text-align: center;
    font-family: 'Rubik';
}
canvas{
    display: inline-block;
}
nav ul {
    margin: 0;
    padding: 0;
    background-color: #035AA6;
    width: 100%;
    position:fixed;
    bottom: 0;
  }
  
  nav li {
    display: inline;
  }
  
  li a {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    color: #F7F0DD;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #035ACD;
  }
  .active {
    background-color: #373740;
  }

.btn_text{
    color: #324373;
}
.headings{
    color: #F2C063;
}
.panel{
    vertical-align: top;
    background-color: #324373;
    border-radius: 25px;
    border: 3px solid #F7F0DD;
    padding: 20px;
    margin-top:50px;
    margin-bottom:40px;
    margin-left:20px;
    display:inline-block;
    width: 230px;
    height: 500px;
}
.hor_scroll{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space:nowrap
}
.exercise_name{
    width: 100px;
    text-align: center;
}
.exercise_reps{
    width: 30px;
    text-align: center;
}
.exercise_quant{
    width: 80px;
    text-align: center;
}
.button{
    color: #324373;
    background-color: #F7F0DD;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Rubik';
    text-align: center;
    margin-top:0px;
    padding:14px;
    border: 3x solid #324373;
}
.img_btn{
    background-color: transparent;
    border: 0px;
    position: absolute;
    top: 40%;
    margin-left: 20px;
    display:inline-block;
}
h1{
    color: #F7F0DD;
    font-size: 32px;
    font-family: 'Montserrat';
    text-align: center;
    margin-top:0px;
}
.body_text {
    color: #F7F0DD;
    font-family: 'Hind_Madurai';
}
body {
    background-color: #373740;

}
p{
    color: #F7F0DD;
    font-size: 17px;
    font-family: 'Hind_Madurai';
}

/* Styling for mood tab */
.main {
    width: 100%;
    padding-bottom: 60px;
}

#moodRow {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.moodSelection {
    margin: 5px;
    background-color: #F7F0DD;
    border-radius: 4px;
    overflow: hidden;
    width: 100px;
    height: 50px;
    float: left;
}
  
.moodSelection label span {
    text-align: center;
    padding: 13px;
    display: block;
    font-size: 18px;
    font-family: 'Rubik';
}
  
.moodSelection label input {
    position: absolute;
    display: none;
    color: #fff !important;
}

.moodSelection label input + span{color: #fff;}

.moodSelection input:checked + span {
    background-color: #F2C063
}

#logButton {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-size: 15px;
    color: #324373;
    background-color: #F7F0DD;
    border-radius: 5px;
    width: 85px;
    height: 40px;
}

#journal {
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Hind_Madurai';
    display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

.moodSummary {
    border: 1px solid #fff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

#keeb {
    padding-left: 110px;
    width: 800px;
    position: fixed;
    bottom: 40px;
}